In [1]:
import pandas as pd

In [2]:
# Loading the dataset 
dataset = pd.read_csv("MD_agric_exam-4313.csv")
dataset.head()

,Field_ID,Elevation,Rainfall,Min_temperature_C,Max_temperature_C,pH,Pollution_level,Plot_size,Annual_yield,Crop_type
0,1162,494.95615,1507.6,-5.4,31.0,6.859436,0.007034,3.6,1.617421,coffee
1,5108,663.73390,581.0,-4.7,30.9,5.603219,0.289643,4.2,2.532497,potato
2,3504,396.87990,1715.1,-6.1,31.7,5.774116,0.000409,2.6,1.262207,banana
3,5351,594.80370,1748.0,-4.3,33.6,6.477415,0.088777,7.9,4.351564,wheat
4,905,609.49800,1395.8,-4.5,31.3,5.419586,0.050023,10.8,5.034791,cassava

In [3]:
# Unique Crop Types in the dataset 
crops = dataset.Crop_type.unique()

n_crops = dataset.Crop_type.nunique()

n_crops, len(crops)

(8, 8)

In [4]:
# Maximum Annual Yield for the Crop_type = Wheat 

# Filter by Crop_type
wheat_df = dataset[dataset.Crop_type == "wheat"]

# Get maximum Annual_yield 
wheat_df.Annual_yield.max()

np.float64(8.994376295629458)

In [5]:
dataset.head(1)

,Field_ID,Elevation,Rainfall,Min_temperature_C,Max_temperature_C,pH,Pollution_level,Plot_size,Annual_yield,Crop_type
0,1162,494.95615,1507.6,-5.4,31.0,6.859436,0.007034,3.6,1.617421,coffee

In [6]:
# Find the total rainfall for crop types where the average pollution level is above 0.2. 

# Filter for pollution level > 0.2
filtered_pollution_df = dataset[dataset.Pollution_level > 0.2] 

# Get the total rainfal 
total_rainfall = filtered_pollution_df.Rainfall.sum()
total_rainfall

np.float64(478902.6)

In [59]:
# Write a function to calculate the temperature range (Max_temperature_C - Min_temperature_C) for each farmer's field. 
# Then, call the function with the following `Field_ID`: `1458`, `1895`, and `5443`. What are the results of these 3 calls? 

def calc_temp_range(Field_ID: int = None) -> int:
    """
    Function used to calculte Temperature Range (Max_temperature_C - Min_temperature_C) 

    Args:
        Field_ID (int): A string containing the field ID 

    Returns:
        range (int): The difference between Max_temperature_C and Min_temperature_C
    """
    if Field_ID is not None:
        try:
            # Extract Min_temperature_C and Max_temperature_C for the provided field_ID 
            filtered_dataset = dataset[dataset.Field_ID == Field_ID]
            Min_temperature_C = filtered_dataset.Min_temperature_C.iloc[0]
            Max_temperature_C = filtered_dataset.Max_temperature_C.iloc[0]

        except IndexError as e:
            # Throw the error incase the "Field_ID" was wrong
            return (f"{e}") 

        else:
            # Since there are no exceptions, calculate and return the range   
            return Max_temperature_C - Min_temperature_C
        
    else:
        return "Field_ID Not Provided"


# lOOP THROUGH EACH ID AND PRINT THE RANGE
Field_IDs = [1458, 1895, 5443] 

for Field_ID in Field_IDs:
    temp_range = calc_temp_range(Field_ID=Field_ID) 
    print(temp_range)

40.7
35.7
33.4